* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  overflow-y: scroll;
}
header {
  background-color: #242424;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}
header h2 {
  font-family: "McLaren", cursive;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 5rem;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: #242424;
}

footer p {
  text-align: center;
  color: #b8b7b7;
}

.note {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  color: var(--primary);
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #242424;
}
.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  color: var(--danger);
  background: #fff;
}
form.create-note {
  position: relative;
  /* width: 450px; */
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  color: var(--primary);
}
form.create-note input::placeholder,
form.create-note textarea::placeholder {
  color: var(--primary);
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
